h1{
    
    font-family:'Raleway';

}

body{
    color: #FDF6F6;
}

@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}

/*
/Navbar CSS Styling
*/
.navbar{
    z-index: 1;
}

.navbar-banner{
    z-index: -10;
}
.nav-link{
    position: relative;
    color: black;
    margin-top: 50px;
}

.nav-link:hover{
    color: #C01313;
}
