h1{
    
    font-family:'Raleway';

}

body{
    color: #FDF6F6;
}


/*
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}
*/


/*
/Navbar CSS Styling
*/
.navbar{
    
}

.navbar .navbar-row{
    height: 10em;
    width: 100%;
}

.nav-link{
    position: relative;
    color: black;
    margin-top: 20px;
    justify-content: center;
    margin-left: 1em;
    font-size: 2em;
}

.nav-link:hover{
    color: #C01313;
}
/*Navbar Ending*/

/*Main Content*/
.row-description{
    padding-top: 1em;
    margin-top: 5em;
}


/*
/Footer CSS Styling
*/

.copyright-text{
    position: relative;
    justify-content: center;
}
