h1{
    
    font-family:'Raleway';

}

body{
    color: #FDF6F6;
}


/*
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}
*/


/*
/Navbar CSS Styling
*/
.navbar{
    background-image: url(https://images.pexels.com/photos/1374557/pexels-photo-1374557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-blend-mode: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18em;
}

.navbar .navbar-row{
    height: 8em;
    width: 100%;
    background-color:rgba(156, 153, 153, 0.6);
}

.nav-link{
    position: relative;
    color: #FFF;
    margin-top: 20px;
    text-align: left;
    margin-left: 1em;
    font-size: 1.8em;
    font-family: 'Raleway';
}

.nav-link:hover{
    color: #C01313;
}

.navbar-split{
    height:5em;
    background-color: rgba(156, 153, 153,0.5);
    background-size: cover;
}
/*Navbar Ending*/

/*Main Content*/

html{
    overflow-x: hidden;
}

.title-header{
    font-size: 5em;
    margin-bottom: 2em;
    padding-left: 25px;
    text-align: center;
    color: #E5C58F;
}

.row-description{
    padding-top: 1em;
    margin-top: 5em;
}

.firsttextbody{
    background-color: #052D37;
}

.firstbodytext{
    color: #FFF;
    font-family: 'Raleway';
}

.firsttext-paragraph{
    font-size: 2em;
    padding-bottom: 5em;
    text-align: center;
    margin-bottom: 0px;
}















/*
/Footer CSS Styling
*/
.copyright-text{
    position: relative;
    text-align: center;
    padding-bottom: 4em;
}

.footer-content{
    background-color: black;
    color: #FFF;
    font-family: 'Raleway';
}

.footer-information{
    position: relative;
    margin-bottom: 20px;
    padding-top: 35px;
}

.contact-block{
    margin-bottom: 4em;
    border-right: thin solid #FFF;
}

.aboutus-block{
    margin-bottom: 4em;
    border-right: thin solid #FFF;
}

.rights-block{
    margin-bottom: 4em;
}

.footer-block-title{
    margin-left: 2em;
    margin-bottom: 1em;
}

.footer-block-title:hover{
    opacity: 0.7;
}

.footer-para{
    margin-left: 15px;
    margin-right: 5px;
}

.footer-links{
    color: #FFF;
    padding-left: 1em;
    margin: 1em;
}

.footer-links:hover{
    color: #E5C58F;
}

/*Social Icons*/
.social-icons{
    position: relative;
    text-align: center;
    margin-bottom: 2em;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #FFF;
    color: #000;
  }
  .fa-facebook::before{
      content: "\f09a";
  }
  
  .fa-twitter {
    background: #FFF;
    color: #000;
  }

  .fa-linkedin {
    background: #FFF;
    color: #000;
  }

  .fa-pinterest {
    background: #FFF;
    color: #000;
  }
